.auth-container {
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    
  }
  
  .auth-container h2 {
    margin-bottom: 1.5rem;
  }
  
  .auth-container input {
    width: 80%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .google-btn, .facebook-btn {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .google-btn {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
  }
  
  .facebook-btn {
    background-color: #1877f2;
    color: white;
  }
  .auth-container p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .dark-mode .auth-container {
    background-color: #333333;
    color: #fff;
  }

