service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all users
    match /{document=**} {
      allow read, write: if true;
    }
  }
}